<!doctype html>

<html>
    
    <head>
		<link rel="icon" href="Images/WebTab.jpg">
		
		<style>
			h1 {
				text-align: center;
				color: #ffae42;
				text-decoration: underline;
				font-weight: bold;
			}
            
            p {
                color: white;
            }

			form.SDCCU {
				position: absolute; 
				top: 330px;  
				left: 100px;
				width: 300px; 
				height:188px;
			}

			form.Chase {
				position: absolute; 
				top: 330px;  
				right: 60px;
				width: 300px; 
				height:188px;
			}

			form.CafCard {
				position: absolute; 
				top: 330px;  
				left: 520px;
				width: 300px; 
				height:188px;
			}
		</style>
    </head>
	
    <body>
        
        <h1>This is the Webpage to Record Finances</h1>
        
        <p><%= spendings %></p>
        
        <img style="position: absolute; top: 125px; left: 80px; width: 300px; height: 188px;" src="SDCCU_CARD.jpg">
            
        <form class="SDCCU" id="form" method="POST" action="/">
            <label for="amtSDCCU">Amount ($):</label>
            <br>
            <input type="text" name="amtSDCCU" value="<%= spendings.amtSDCCU %>">
            <br>
            <label for="purchaseSDCCU">Purchase:</label>
            <br>
            <input type="text" name="purchaseSDCCU" value="<%= spendings.purchaseSDCCU %>">
            <br> <br>
            <input type="submit" value="submit"/>
        </form>
                
        <img style="position: absolute; top: 125px; right: 80px; width: 300px; height: 188px" src="CHASE_CARD.png">
        
        <form class="Chase" id="form" method="POST" action="/">
            <label for="amtChase">Amount ($):</label>
            <br>
            <input type="text" name="amtChase" value="<%= spendings.amtChase %>">
            <br>
            <label for="purchaseChase">Purchase:</label>
            <br>
            <input type="text" name="purchaseChase" value="<%= spendings.purchaseChase %>">
            <br> <br>
            <input type="submit" value="submit"/>
        </form>
            
        <img style="position: absolute; top: 125px; left: 500px; width: 300px; height: 188px" src="YU_CARD.jpg">
        
        <form class="CafCard" id="form" method="POST" action="/">
            <label for="amtCafCard">Amount ($):</label>
            <br>
            <input type="text" name="amtCafCard" value="<%= spendings.amtCafCard %>">
            <br>
            <label for="purchaseCafCard">Purchase:</label>
            <br>
            <input type="text" name="purchaseCafCard" value="<%= spendings.purchaseCafCard %>">
            <br> <br>
            <input type="submit" value="submit"/>
        </form>
        
    </body>
    
</html>